button{
    padding: 1rem;
    background-color: rgb(27, 125, 211);
    border: none;
    border-radius: 100%;
    margin: 0.5rem;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

p{
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(255, 217, 48);
    margin: 0;
    padding: 0;
}
